*{
    margin: 0;
    padding: 0;
}

/*--Inicio Header--*/
/*index*/

.menu-container{
    position: sticky;
    top :0px;
    font-family: "Sedan", serif;
    font-style: italic;
    
}




/* --fin header--*/
/* inicio img*/

.photo-grid-container{
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(3, 300px);
  row-gap: 10px ;
  column-gap: 10px;
    
}

.photo-grid2{
    justify-content: center;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
   
}

.logo4{
    
    border-radius: 200px;
    width: 300px;
    height: 290px;
    margin: 10px;
    justify-content: center;
    
}


img{

    width: 100%;
    height: 100%;
    
}

.logo{
   
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

.logo1{
   margin: 5px;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    
}

.logo2{
    margin: 5px;

    grid-column: 3 / 5;
    grid-row: 3 / 5;
   
}


@media only screen and (max-width: 600px) {
    section.photo-grid-container{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        background-color: beige;
      
    

        
     .logo{ 
        grid-column: 1 / 5;
        grid-row: 1 / 2;
     }   

     .logo1{
        margin: 8px;
        justify-content: center;
        grid-column: 1 / 5;
        grid-row: 2 / 4;
     }

     .logo2{
        margin: 8px;
        justify-content: center;
        grid-column: 1 / 5;
        grid-row: 4 / 5;
     }
    
    }
    .photo-grid{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid black;
      
    }
    .photo-grid2{
        justify-content: center;
        display: flex;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
       
    }
    .order{  
         display: flex;
        flex-wrap: wrap;
        padding: 20px;
    
    }
    
    
}

.muestra1{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    

}

.unisex{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    


}

.order{
    padding: 10px;
}


/* fin img*/

/* main | font*/

h1{
    font-family: "Sedan", serif;
    font-style: italic;
    text-shadow: 1px 1px 2px grey;
    text-align: center;

    
}



.descripcion{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: "Sedan", serif;
    font-style: normal;
    padding: 30px 30px;
}

h3{
    font-family: "Sedan", serif;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    text-shadow: 1px 1px 5px brown;


}



p{
    font-family: "Sedan", serif;
    font-style: normal;
    
    
}

/*fin main | font*/
/*footer*/

.cierre{
    background-color:black;
    padding: 10px;
    padding-top: 200px;

    color: beige;

}
.redes{
    font-size: 20px;
    text-align: center;
}